[project]
name = "codesage-agent"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "fastapi[standard]>=0.125.0",
    "python-dotenv>=1.2.1",
    "uvicorn>=0.38.0",
]
